<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633898262711-jutmnanaa4n23tn1pc72irsqovkdo5ut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633898262711-jutmnanaa4n23tn1pc72irsqovkdo5ut</string>
	<key>API_KEY</key>
	<string>AIzaSyD5v6sQx4m8GReLUaLcfZvdtcoal0uqK8I</string>
	<key>GCM_SENDER_ID</key>
	<string>633898262711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>su.linka.paperboard</string>
	<key>PROJECT_ID</key>
	<string>linka-paperboar</string>
	<key>STORAGE_BUCKET</key>
	<string>linka-paperboar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633898262711:ios:88d672eb2729b6fc936d32</string>
	<key>DATABASE_URL</key>
	<string>https://linka-paperboar.firebaseio.com</string>
</dict>
</plist>