<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>alphabet</key>
		<string>a á b c {cs} {ccs} d {dz} {ddz} {dzs} {ddzs} e é f g {gy} {ggy} h i í j k l {ly} {lly} m n {ny} {nny} o ó ö ő p r s {sz} {ssz} t {ty} {tty} u ú ü ű v z {zs} {zzs}</string>
		<key>voiceId</key>
		<string>com.apple.ttsbundle.Mariska-compact</string>
		<key>voiceName</key>
		<string>Mariska</string>
		<key>locale</key>
		<string>hu-HU</string>
		<key>rightToLeft</key>
		<false/>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>א ב ג ד ה ו ז ח ט י כ ך ל מ ם נ ן ס ע פ ף צ ץ ק ר ש ת</string>
		<key>voiceId</key>
		<string>com.apple.ttsbundle.Carmit-compact</string>
		<key>voiceName</key>
		<string>Carmit</string>
		<key>locale</key>
		<string>he-IL</string>
		<key>rightToLeft</key>
		<false/>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>a à â æ b c ç d e é è ê ë f g h i î ï j k l m n o ô œ p q r s t u ù û ü v w x y ÿ z</string>
		<key>voiceId</key>
		<string>com.apple.ttsbundle.Thomas-compact</string>
		<key>voiceName</key>
		<string>Thomas</string>
		<key>locale</key>
		<string>fr-FR</string>
		<key>rightToLeft</key>
		<false/>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>a à â æ b c ç d e é è ê ë f g h i î ï j k l m n o ô œ p q r s t u ù û ü v w x y ÿ z</string>
		<key>voiceId</key>
		<string>com.apple.ttsbundle.Amelie-compact</string>
		<key>voiceName</key>
		<string>Amelie</string>
		<key>locale</key>
		<string>fr-CA</string>
		<key>rightToLeft</key>
		<false/>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>a b c d e f g h i j k l m n o p q r s š t u v w x y z ž å ä ö</string>
		<key>voiceId</key>
		<string>com.apple.ttsbundle.Satu-compact</string>
		<key>voiceName</key>
		<string>Satu</string>
		<key>locale</key>
		<string>fi-FI</string>
		<key>rightToLeft</key>
		<false/>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>aábcdeéfghiíïjklmnñoópqrstuúüvwxyýz</string>
		<key>voiceId</key>
		<string>com.apple.ttsbundle.Monica-compact</string>
		<key>voiceName</key>
		<string>Monica</string>
		<key>locale</key>
		<string>es-ES</string>
		<key>rightToLeft</key>
		<false/>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>aábcdeéfghiíïjklmnñoópqrstuúüvwxyýz</string>
		<key>voiceId</key>
		<string>com.apple.ttsbundle.Paulina-compac</string>
		<key>voiceName</key>
		<string>Paulina</string>
		<key>locale</key>
		<string>es-MX</string>
		<key>rightToLeft</key>
		<false/>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>α ά β γ δ ε έ ζ η ή θ ι ί ϊ ΐ κ λ μ ν ξ ο ό π ρ σ ς τ υ ύ ϋ ΰ φ χ ψ ω ώ</string>
		<key>voiceId</key>
		<string>com.apple.ttsbundle.Melina-compact</string>
		<key>voiceName</key>
		<string>Melina</string>
		<key>locale</key>
		<string>el-GR</string>
		<key>rightToLeft</key>
		<false/>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>a ä b c d e f g h i j k l m n o ö p q r s ß t u ü v w x y z</string>
		<key>voiceId</key>
		<string>com.apple.ttsbundle.Anna-compact</string>
		<key>voiceName</key>
		<string>Anna</string>
		<key>locale</key>
		<string>de-DE</string>
		<key>rightToLeft</key>
		<false/>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>a b c d e f g h i j k l m n o p q r s t u v w x y z æ ø å</string>
		<key>voiceId</key>
		<string>com.apple.ttsbundle.Sara-compact</string>
		<key>voiceName</key>
		<string>Sara</string>
		<key>locale</key>
		<string>da-DK</string>
		<key>rightToLeft</key>
		<false/>
	</dict>
	<dict>
		<key>voiceName</key>
		<string>Zuzana</string>
		<key>locale</key>
		<string>cs-CZ</string>
		<key>alphabet</key>
		<string>a á b c č d ď e é ě f g h {ch} i í j k l m n ň o ó p q r ř s š t ť u ú ů v w x y ý z ž</string>
		<key>rightToLeft</key>
		<false/>
		<key>voiceId</key>
		<string>com.apple.ttsbundle.Zuzana-compact</string>
	</dict>
	<dict>
		<key>voiceName</key>
		<string>Maged</string>
		<key>locale</key>
		<string>ar-SA</string>
		<key>alphabet</key>
		<string>ا ب ت ث ج ح خ د ذ ر ز س ش ص ض ط ظ ع غ ف ق ك ل م ن ه و ي</string>
		<key>rightToLeft</key>
		<true/>
		<key>voiceId</key>
		<string>com.apple.ttsbundle.Maged-compact</string>
	</dict>
	<dict>
		<key>voiceName</key>
		<string>Karen</string>
		<key>locale</key>
		<string>en-AU</string>
		<key>alphabet</key>
		<string>abcdefghijklmnopqrstuvwxyz</string>
		<key>rightToLeft</key>
		<false/>
		<key>voiceId</key>
		<string>com.apple.ttsbundle.Karen-compact</string>
	</dict>
	<dict>
		<key>voiceName</key>
		<string>Tessa</string>
		<key>locale</key>
		<string>en-ZA</string>
		<key>alphabet</key>
		<string>abcdefghijklmnopqrstuvwxyz</string>
		<key>rightToLeft</key>
		<false/>
		<key>voiceId</key>
		<string>com.apple.ttsbundle.Tessa-compact</string>
	</dict>
	<dict>
		<key>voiceName</key>
		<string>Moira</string>
		<key>locale</key>
		<string>en-IE</string>
		<key>alphabet</key>
		<string>abcdefghijklmnopqrstuvwxyz</string>
		<key>rightToLeft</key>
		<false/>
		<key>voiceId</key>
		<string>com.apple.ttsbundle.Moira-compact</string>
	</dict>
	<dict>
		<key>voiceName</key>
		<string>Daniel</string>
		<key>locale</key>
		<string>en-GB</string>
		<key>alphabet</key>
		<string>abcdefghijklmnopqrstuvwxyz</string>
		<key>rightToLeft</key>
		<false/>
		<key>voiceId</key>
		<string>com.apple.ttsbundle.Daniel-compact</string>
	</dict>
	<dict>
		<key>voiceName</key>
		<string>Samantha</string>
		<key>locale</key>
		<string>en-US</string>
		<key>alphabet</key>
		<string>abcdefghijklmnopqrstuvwxyz</string>
		<key>rightToLeft</key>
		<false/>
		<key>voiceId</key>
		<string>com.apple.ttsbundle.Samantha-compact</string>
	</dict>
</array>
</plist>
